*.sqlite3
*.sqlite3-journal
*.csv
*.pyc
*.log
*.zip

/documents/
/selenium/driver/
/database/structure/passwords.sql

# Dotnet Build results
/publish/
*.sln
*.csproj.user
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
