:root {
    --high-color: #d4dae5;
    --high-ground: rgb(102, 86, 102);
    --title-color: rgb(66, 66, 82);
    --blue-color: rgb(0, 128, 255);
    --main-color: rgb(10, 10, 10);
    --back-color: rgb(150, 150, 150);
}