@{
    Layout = "~/views/layout.cshtml";
}
<div class="row">
    <section class="col-md-8 jobs-list">
        <h6>Job List</h6>
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <td scope="col">#</td>
                    <td scope="col">Agency</td>
                    @* <td scope="col">Resume</td> *@
                    <td scope="col">Job</td>
                    <td scope="col">Score</td>
                    <td scope="col">Source</td>
                    <td scope="col">Register Time</td>
                    @* <td scope="col">Log</td> *@
                    <td scope="col">Relocation</td>
                    <td scope="col">Action</td>
                </tr>
            </thead>
            <tbody id="job-list">
                @await Html.PartialAsync("~/views/jobs.cshtml", (List<dynamic>)Model.Jobs)
            </tbody>
        </table>
        <button id="show-logs" type="button" class="btn btn-link" style="visibility: hidden;"
            data-bs-toggle="modal" data-bs-target="#logs-modal">
            Logs
        </button>
        <div class="modal fade" id="logs-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Logs</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div id="logs-body" class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </section>
    <article class="col-md-4">
        <h6>Trend List</h6>
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <td scope="col">#</td>
                    <td scope="col">Agency</td>
                    <td scope="col">Type</td>
                    <td scope="col">State</td>
                    <td scope="col">Latest Activity</td>
                </tr>
            </thead>
            <tbody id="job-seeker-trend-list">
                @await Html.PartialAsync("~/views/trends.cshtml", (List<dynamic>)Model.Trends)
            </tbody>
        </table>
        <div class="d-flex flex-row">
            <button id="stop-start-ordering" onclick="ordering()" type="button" class="btn btn-primary m-1">To Start Ordering</button>
            <button id="reset-trends" onclick="reset()" type="button" class="btn btn-outline-warning m-1">Reset Trends</button>
            <button onclick="revaluate()" type="button" class="btn btn-outline-warning m-1">Revaluate</button>
            <a href="job-options" target="_blank" class="btn btn-outline-warning m-1">Job Options</a>
            <button id="clean-jobs" onclick="clean()" type="button" class="btn btn-outline-danger m-1">Clean Database</button>
        </div>
        <div id="job-seeker-agency-list" class="agency-list mt-3 d-flex flex-column">
            @await Html.PartialAsync("~/views/agencies.cshtml", (dynamic[])Model.Agencies)
        </div>
    </article>
</div>
